@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}
.heading h2{
    font-size: 28px;
    font-weight: 500;
    border-left: 8px solid #010102;
    padding: 5px 15px;
    margin-bottom: 15px;
}
.heading p{
    font-size: 18px;
}
/* Buttons */
.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #303054;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn1:hover{
    background-color: #e6edff;
    color: #303054;
}
header{
    background-color: #303054;
    width: 100%;
}
header .navbar-brand{
    font-size: 22px;
    color: #fff;
}
nav{
    padding: 8px 0px !important;
}
.home-sec{  
    padding: 100px 0;
}
.home-sec .home-content {
    align-items: center;
}
.home-sec .home-content h1{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
} 
.home-sec .home-content h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.home-sec .home-content p{
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.home-sec .img-sec img{
    width: 400px;
}
.home-sec .home-content{
    align-items: center;
    padding: 10px 0;
}
/* Donation Section */
.don-sec{
    background-color: #dee6fc;
    padding: 100px 0;
}
.don-sec .don-box{
    margin: 10px 0;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.don-sec .don-box img{
    width: 70px;
    transition: all 0.8s;
}

.don-sec .don-box:hover img{
    transform: scale(1.1);
}
.mission{
    padding: 20px 0;
}       
.gallery-sec .image-container{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 5px;
}
.gallery-sec .image-container .image{
	height: 200px;
	width: 300px;
}
.gallery-sec .image-container .image img{
	height: 100%;
	width: 100%;
	border: 5px solid #d4d4d4;
	object-fit: cover;
	transition: 0.3s linear;
}
    .gallery-sec .image-container .image:hover img{
        transform: scale(1.1);
    }
    /* #303054 */
